.main{
    background:linear-gradient(150deg,rgb(108, 189, 213),rgb(16, 41, 60));
    margin-top: 30px;
    margin-left: 330px;
    margin-right: 330px;
 
}
.blog{
  background:linear-gradient(120deg,rgb(181, 79, 161),rgb(240, 214, 99));
  margin-bottom:15px;
  margin-left: 330px;
  margin-right: 330px;
  padding: 5px;
  
}
h1{
    text-align: center;  
    text-shadow:2px 2px #d87c2a;
    text-decoration-line: overline underline;
}
.section{
    text-align: center;
    padding: 25px;
    margin-bottom: 6px;
}
label{
  padding-right: 500px;
    font-size: 22px;
    padding-bottom: 9px;
    font-weight: bold;
}
.input{
  margin-top:10px;
    width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

h2{
    text-align: center;
    text-shadow: 2px 2px rgb(209, 128, 253);
    text-decoration-line: overline underline;
  }
.btn {
    padding: 8px 16px;
    margin: 8px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn.remove {
    background-color: #f44336;
  }

  .blog h3 {
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 10px;
  }
  
  .blog p {
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: -25px;
  }
  
  .blog-btn {
    text-align: right;
  }